#top{
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F6F6F6;
  border: none;
}
#logo{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#mid{
  margin-top: 10px;
}
#mid-menu{
  border: none;
}
#big-img{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#big-img-container{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
#footer{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #292929;
  color: #FFFFFF;
}
.large{
  font-size: 1.5em;
}
.divider{
  background-color: #FFFFFF;
}
